
        <h2>Detalles</h2>

        <figure><img src="{{this.carImage}}" alt="Logo"></figure>

        <section>            
            <p>Marca: {{this.carBrand}}</p>
        </section>

        <section>            
            <p>Modelo del coche: {{this.carModel}}</p>
        </section>

        <section>            
            <p>Precio alquiler: {{this.leasingPrice}}</p>
        </section>

        <section>            
            <p>Número de asientos: {{this.seatsNumber}}</p>
        </section>

        <section>            
            <p>Número de puertas: {{this.doorNumber}}</p>
        </section>

        <section>            
            <p>Tamaño maletero: {{this.trunkSize}}</p>
        </section>

        <section>            
            <p>co2 Emisiones: {{this.co2Emissions}}</p>
        </section>

        <section>            
            <p>Tipo de coche: {{this.carType}}</p>
        </section>

        <section>            
            <p>Aire acondicionado: {{this.airConditioner}}</p>
        </section>

        <section>            
            <p>Tipo de transmisión: {{this.transmissionType}}</p>
        </section>

        <section>            
            <p>Tipo de motor: {{this.motorType}}</p>
        </section>

        <section>
            <p>Disponibibilidad: {{this.availability}}</p>
        </section>

        <a href="/rentalCars/deleteCar/{{this._id}}">Borrar</a>
        <a href="/rentalCars/updateCar/{{this._id}}">Editar</a>
        <a href="/rentalCars/all">Atrás</a>
        <a href="/rentalCars/leasingForm/{{this._id}}">Alquilar</a>

