
        <section class="container">
            <h2>Detalles</h2>

        <figure>
            <img src="{{this.carImage}}" alt="Logo">
        </figure>

         <ul>
             <li>Marca: {{this.carBrand}}</li>
             <li>Modelo del coche: {{this.carModel}}</li>
             <li>Precio alquiler: {{this.leasingPrice}}</li>
             <li>Número de asientos: {{this.seatsNumber}}</li>
             <li>Número de puertas: {{this.doorNumber}}</li>
             <li>Tamaño maletero: {{this.trunkSize}}</li>
             <li>CO2 Emisiones: {{this.co2Emissions}}</li>
             <li>Tipo de coche: {{this.carType}}</li>
             <li>Aire acondicionado: {{this.airConditioner}}</li>
             <li>Tipo de transmisión: {{this.transmissionType}}</li>
             <li>Tipo de motor: {{this.motorType}}</li>
             <li>Disponibibilidad: {{this.availability}}</li>
         </ul>           
       
        <a href="/rentalCars/deleteCar/{{this._id}}">Borrar</a>
        <a href="/rentalCars/updateCar/{{this._id}}">Editar</a>
        <a href="/rentalCars/all">Atrás</a>
        <a href="/rentalCars/leasingForm/{{this._id}}">Alquilar</a>

        </section>
        